<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Spring Thyme Attendee Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/attendee.css" th:href="@{/css/attendee.css}"/>
  </head>

  <body>

    <div>
    
      <h2 th:text="#{title.new}">Add new Attendee - XSLT</h2>

      <form action="#" th:action="@{/upload-attendee-xslt}" th:object="${attendeeTransformation}" method="post">
    
        <fieldset>
          
          <legend th:text="#{attendeeTransformation.data}">Attendee Data</legend>

          <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
          </ul>

          
          <div>
            <label for="xslt">
              <span th:text="#{attendeeTransformation.xslt}">XSLT</span>
            </label>
            <textarea th:field="*{xslt}" th:errorclass="fieldError" rows="5" cols="40"/>
          </div>
          <div>
            <label for="xml" th:text="#{attendeeTransformation.xml}">XML</label>
            <textarea th:field="*{xml}" rows="5" cols="40"/>
          </div>

          <div class="submit">
            <button type="submit" name="save" th:text="#{attendeeTransformation.transform}">Transform</button>
          </div>

        </fieldset>
          
      </form>
        
    </div>

  </body>
</html>